<% content_for :title, "Editing tags time cut" %>

<h1>Editing tags time cut</h1>

<%= render "form", tags_time_cut: @tags_time_cut %>

<br>

<div>
  <%= link_to "Show this tags time cut", @tags_time_cut %> |
  <%= link_to "Back to tags time cuts", tags_time_cuts_path %>
</div>
