<% content_for :title, "New tags time cut" %>

<h1>New tags time cut</h1>

<%= render "form", tags_time_cut: @tags_time_cut %>

<br>

<div>
  <%= link_to "Back to tags time cuts", tags_time_cuts_path %>
</div>
