<% content_for :title, "New time standard" %>

<h1>New time standard</h1>

<%= render "form", time_standard: @time_standard %>

<br>

<div>
  <%= link_to "Back to time standards", time_standards_path %>
</div>
