<h4>Fuck you from the view component</h4>

  <wa-tab-group placement="start">
    <wa-tab panel="boys">Boys</wa-tab>
    <wa-tab panel="girls">Girls</wa-tab>

    <wa-tab-panel name="boys">
      Boys stuff goes here
      <%= @standard_type %> <%= @course %>
    </wa-tab-panel>

    <wa-tab-panel name="girls">
      Girls stuff goes here
    </wa-tab-panel>
  </wa-tab-group>

