<div>
  <% if @tags_time_cut.nil? %>
    No time cut found
  <% elsif @time_type == "tags_time" %>
    <%= "#{helpers.format_time_standard(@tags_time_cut.tags_time)}" %>
  <% elsif @time_type == "bonus_time" %>
    <%= "#{helpers.format_time_standard(@tags_time_cut.bonus_time)}" %>
  <% elsif @time_type == "both" %>
    <%= "#{helpers.format_time_standard(@tags_time_cut.tags_time)} #{helpers.format_time_standard(@tags_time_cut.bonus_time)}" %>
  <% else %>
    <%= "Error" %>
  <% end %>
</div>
