
<h1>We're generally pleasant and mostly inoffensive</h1>

<p>
Likable Guys is intended to be a site containing information on a variety of topics of interest to two guys. These guys are pretty likable. 
By this I mean that they’re generally pleasant and mostly inoffensive.
</p>

<p>
Eventually, I think the site structure might look something like what’s below. 
That said, “coming soon” sections are pretty lame. So will keep pages like that to a minimum. 
Note that this is a page like that…
</p>

<ul>
<li>Home
<li>Swimming (this is all that's here now, as you may have noticed)
<li>Games (a wordle clone, then eventually a strands clone. Superbowl squares. And probably Blackjack)
<li>Tech
<li>Wellness
<li>Random
<li>About
</ul>
