---
title: likableguys.com
public: true
---

<article class="sitepress">
  <h1>Welcome to <%= current_page.data.fetch("title") %></h1>

  <p>
    There's not a lot here yet. I have some visions of a well developed swimming section dedicated to the exploits of the CMC. 
    I also plan to make a bunch of web games. Maybe publish leetcode solutions. Maybe something about gear. Maybe something about Austin.
  </p>

  <p>
    For right now, I have just the beginnings of the swimming stuff. Note that I haven't done a lot of testing, so I wouldn't bet the proverbial farm on this data.
    Why not check out the CMC's best times above? Or look at a recent meet. Or enjoy the motivational times browser or TAGS time cuts and celebrate that the (albeit imperfect)
    layout here is way better than those awful pdfs...
  </p>


</article>
