<% content_for :title, "Editing usa swimming time standard" %>

<h1>Editing usa swimming time standard</h1>

<%= render "form", usa_swimming_time_standard: @usa_swimming_time_standard %>

<br>

<div>
  <%= link_to "Show this usa swimming time standard", @usa_swimming_time_standard %> |
  <%= link_to "Back to usa swimming time standards", usa_swimming_time_standards_path %>
</div>
