<% content_for :title, "New usa swimming time standard" %>

<h1>New usa swimming time standard</h1>

<%= render "form", usa_swimming_time_standard: @usa_swimming_time_standard %>

<br>

<div>
  <%= link_to "Back to usa swimming time standards", usa_swimming_time_standards_path %>
</div>
